Pillow==5.1.0
Flask==0.12.2
gunicorn==19.6.0
line-bot-sdk==1.5.0
imgurpython==1.1.7
cycler==0.10.0
kiwisolver==1.0.1
future==0.16.0
numpy==1.14.3
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
six==1.11.0
FontTools==3.26.0
requests==2.18.4
urllib3==1.22
setuptools==28.8.0
certifi==2018.4.16
./matplotlib-2.2.2
